Repository 1219062025/vue-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, stylelint '**/*.{css,scss}' --fix, prettier --write

test
  .lintstagedrc.json
Due: none

test
  src/views/home.vue
Due: stylelint '**/*.{css,scss}' --fix

test
  .lintstagedrc.json
  src/views/home.vue
Due: stylelint '**/*.{css,scss}' --fix

test
  README.md
  mock/index.ts
  package-lock.json
  package.json
  src/api/demo/account.ts
  src/api/demo/model/accountModel.ts
  src/views/home.vue
  tsconfig.json
  types/env.d.ts
  types/global.d.ts
Due: prettier --write ., eslint --fix, stylelint '**/*.{css,scss}' --fix, prettier --write

feat: vue-router
  README.md
  package-lock.json
  package.json
  src/App.vue
  src/main.ts
  src/router/basic.ts
  src/router/index.ts
Due: prettier --write ., eslint --fix, stylelint '**/*.{css,scss}' --fix, prettier --write

feat: pinia
  README.md
  package-lock.json
  package.json
  src/main.ts
  src/router/index.ts
  src/store/index.ts
  src/store/main.ts
  src/views/home.vue
Due: prettier --write ., eslint --fix, stylelint '**/*.{css,scss}' --fix, prettier --write

feat: plugin
  .env
  README.md
  index.html
  package-lock.json
  package.json
  src/plugins/html.ts
  src/plugins/index.ts
  src/plugins/mock.ts
  tsconfig.json
  types/env.d.ts
  vite.config.ts
Due: prettier --write ., eslint --fix, prettier --write

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint '**/*.{css,scss}' --fix: any of: *.{vue,css,scss}
  prettier --write: any of: *.md
